<h1>POST Recruitment Web Development Challenge</h1>

<h2>Expectations</h2>
<p>This challenge should be fairly straight-forward to complete - it is not
designed as a pass-fail test but instead is useful for determining your mindset
when it comes to software architecture, data modelling, testing etc.</p>
<p>Please assume you’d be deploying the application to a production environment
on completion and work to what you believe to be best practice in that regard.
<p>Your work should be tracked with Git from the start - please publish the
full history of commits to a public Git repository upon completion.</p>
<p>Feel free to extend the spec beyond the basic features if you wish to
demonstrator any web development skills you might have.</p>

<h2>Overview</h2>
<p>We’re going to build a simple blog which has commenting and email
subscription for notifications of new articles.</p>

<h2>Features</h2>
<ul>
  <li>Articles should be created, modified and deleted via a UI.</li>
  <li>Articles should be accessible via an SEO-friendly URL.</li>
  <li>The article body should be written in and rendered with Markdown</li>
  <li>Visitors can comment on articles.</li>
  <li>Visitors can subscribe to the site with their email address.</li>
  <li>Each time an article is posted, asynchronously, subscribers should be
  sent a notification containing information about the new post and a link to
  view it.</li>
  <li>Each email should contain a link to unsubscribe.</li>
</ul>

<h2>Technologies</h2>
<p>We expect to see the latest stable versions of Ruby and Rails, but beyond
that use technologies as you see fit, our preferences are:</p>
<ul>
  <li>Testing: Rspec</li>
  <li>DB: Postgres</li>
  <li>Views: Semantic, accessible HTML5 in Erb</li>
  <li>Assets: CoffeeScript / SASS</li>
</ul>
