<div class="center jumbotron">
  <h1>Welcome to Paul's Lovely Rails Blog</h1>
  <h2>
    Here you can find all sorts of posts about a wide range of subjects.
  </h2>
  <br>
  <%= link_to "Show me the posts!", {:controller => 'posts', :action => 'index' }, class: "btn btn-lg btn-primary" %>
</div>
