<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hello happy friendo!</h1>
    <p>
      There's a new post up at Paul's Lovely Rails Blog:
    </p>
    <h2>
      <%= @post.title %>
    </h2>
    <p>
      You should totally check it out!
    </p>
  </body>
</html>
