/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import "simplemde.min.css";

a:hover {
  color: #007ebd;
  background-color: #FFFFFF;
}
body {
  background-color: #5D8AA8;
}
div#wrapper {
  margin: auto;
  width: 800px;
}
header {
  display: block;
  padding: 10px 20px 10px 20px;
}
#mainNav {
  display: block;
  padding: 10px 20px 10px 20px;
  background-color: rgba(0,0,0,0.2);
}
#mainNav a {
  text-decoration: none;
  padding: 0px 20px 0px 0px;
  font-weight: bold;
  color: white;
}
#mainNav a:hover {
  background-color: rgba(0,0,0,0);
  color: #007ebd;
}
#content {
  display: block;
  background-color: rgba(0,0,0,0.1);
  padding: 1px 20px 10px 20px;
}

body {
  background: url(http://i.imgur.com/RWnEoy0.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}

#notice {
  padding: 4px 8px 4px 8px;
  background-color: rgba(0,0,0,0.1);
  color: #333;
  font-weight: bold;
}
